@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
/* Se utuliza esto como forma predeterminada del sitio web */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #193847;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}




.container2{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    
}

.header {
    display: flex; /* Se le coloca flex para que las sections/div/navs que esten contenidas se les pueda aplicar dichas caracteriasticas que otorga flex */
    justify-content: space-between;
    margin: 0em 6em;
}

.src-only {
    display: none;
}

.hide-mobile {
    display: none;
}

p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

.logo {
    margin: 1em;
    width: 10em;
}

/*Lasopciones de adecuan continuamente */
.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
.options i:last-child {
    font-size: 1.6rem;
}

/*----------------------------------------------------------------------------*/
.big-hero {
margin-bottom:4em;
}
/*----------------------------------------------------------------------------*/
/* Big area */
.big-hero img {
    width: 16em;
}

.big-hero h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

.big-hero p {
    font-size: 1em;
    color: #D7DEE6;

}

/* Social links*/
.social-links{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;

}

/*   -------------------------------------------------------------------   */



.social-links li a{
    color: #D7DEE6; 
    text-decoration: none;

    font-size: 0.3em;
    justify-content: center;
    /* Los logos se centraron y se separaron*/
    margin-right: 0.15em;
    margin-left: 0.15em;
}

div.hh li a {
    color:red;
}
/* Dandole tamaño a los logos */
.fab.fa-github{
    font-size: 15em;
    margin-right: 0.5em;
}

.fab.fa-twitter{
    font-size: 15em;

}

/*Dandole formato a la flecha por medio de la clase ".fa-arrow-circle-down:before" */

.fa-arrow-circle-down:before {
    content: "\f0ab";
    color: #0AC693;
    font-size: 2.7em;
    margin: 4em;
    
}
/*   -------------------------------------------------------------------   */
.green-area {
    background-color: #0AC693; 
    
    
}


.post {
    padding: 1em;
    margin-bottom: -2px;
}
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}


/*Dandole formato al are de los articulos */
.post ul {
    list-style: none;
}

.post ul li {
    min-height: 300px;
    max-width: 3500px;
    margin: 4rem auto;
    justify-content: space-around;
    }


.post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
    width: 25em;
    margin: 0;
    margin-left: 2.5em;
    margin-right: 2.5em;
    justify-content: space-around;
    height: 30em;
    
}

.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.post article h3 {
    color: #193847;
    font-weight: bold;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */

.about{
    padding: 0px 8em;
    margin-top: 2em;
}


/*-----------------------------------------------------*/

/* Dandole formato al area de contacto*/
div.contact{
    margin-left: 4em;

width: 100%;
}
div.bio-info{
    width: 100%;
    margin-right: 4em;
}
/*-----------------------------------------------------*/
.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}

.bio-info img{
    width: 17em;
}

.bio-info p{
    font-size: 10px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;

}

.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
    
}

.contact * + * {
    margin-top: 1.5em;
}


.contact-form {
    display: flex;
    flex-direction: column;
    
}

.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}



/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    width: 40%;
    font-size: 1rem;
    margin-bottom: 4em;

}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

footer{
    background-color: #0D5061;
    color:#D7DEE6;
}

footer .social-links {
    margin: 0;
}

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    
}


/*Dandole formato para iphone 6-7-8 plus */


  @media only screen and (min-width: 414px) {

   /*Dandole formato al contenedor*/
    div.container2{
            
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
        
    }

    

    div.contact {
        width: 80%;
        margin-left: 0;
    }

    .post ul li article {
        overflow: hidden;
        border-radius: 10px;
        background-color: #ffffff;
        text-align: left;
        padding-bottom: 2em;
        width: 19em;
        margin: 0 2.5em;
        justify-content: space-around;
        height: 25em;
    }

    .big-hero img {
        width: 11em;
    }


    .big-hero h2 {
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 0.002em;
        margin-top: 1em;
    }



    
.logo {
    margin: 1em;
    margin-left: -3em;
    width: 7em;
}


.fa-bars:before {
    content: "\f0c9";
    margin-right: -5.5em;
}

.about{
    padding: 0;
    margin-top: 2em;
}


div.bio-info {
    width: 80%;
    margin-right: 0;

}

.bio-info img {
    width: 13em;
    margin-bottom: 1em;
}

/* Dandole formato al boton de contacto*/
.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 4em;
}

.bio-info p {
    font-size: 10px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    margin-bottom: 2em;
    letter-spacing: 2px;
}

}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {

    /* Dandole formato al listado */

    .post ul {
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        flex: 1 0 300px;
    }


    .logo {
        width: 150px;
        margin: 1.5em;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    /*Dandole formato al menu */
    .menu {
        background-color: #193847; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        font-size: 0.6em;
        margin-top: 1em;
    }


    div.container2{
            
        display:flex;
        justify-content: space-around;
        
    }

    /*Dandole formato a los elementos del green area */

        .post ul li article {
            overflow: hidden;
            border-radius: 10px;
            background-color: #ffffff;
            text-align: left;
            padding-bottom: 2em;
            width: 16em;
            margin: 0px 9.5em;
            justify-content: space-around;
            height: 19em;
        }
    
} 




/* Para ipad pro*/
@media only screen and (min-width: 1024px) {

    /*Dandole formato al menu principal */
    .menu {
     background-color: #193847;
     position: static;
     z-index: 20;
     width: 100%;
     height: auto;
     display: flex;
     margin-top: 1em;
     font-size: 11px;
 }

 div.container2{

display: flex;
flex-flow: row;

 }

 div.bio-info {
    width: 80%;
    padding: 2em;
    margin-right: 0;

    
}
/*Arreglando medida de el area de contacto */

div.contact {
    width: 80%;
    padding: 2em;

    margin-left: 0;
}
 .post ul li {
    min-height: 300px;
    max-width: 24em;
    margin-bottom: 7em;
    justify-content: space-around;
}

.post ul {
    display: flex;
    list-style: none;
    flex-flow: row;
margin-bottom: 2em;
    justify-content: center;
}


 .post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
    width: 11em;
    margin: 0 0.5em;
    justify-content: space-around;
    height: 21em;
 }




}


/* Dandole formato a monitores 1440*/




  @media only screen and (min-width: 1440px) {
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }

/* Dandole formato el area del form */
    .contact-form {
        display: flex;
        width: 90%;
        /* margin: 84%; */
        flex-direction: column;
    }
  }
    




